:root {
  --light-shade: #FEFDFD;
  --light-accent: #836E76;
  --main-color: #B87977;
  --dark-accent: #865863;
  --dark-shade: #84433E;
}

.App {
  text-align:center
}

.Body {
  outline: none;
  background-color: var(--light-shade);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--dark-shade)
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  flex-grow: 2;
}

.TileBox {
  padding: 1em;
  margin: 1em 0px;
}

.InputBox {
  padding: 1em;
  margin: 1em 0px;
}

.Tile {
  border: solid 3px var(--main-color);
  border-radius: 10px;
  padding: 1em;
  margin: 1em 2px;
  font-weight: 700;
}

.Tile-End {
  background-color: var(--dark-shade);
  border: solid 3px var(--light-accent);
  border-radius: 10px;
  padding: 1em;
  margin: 1em 2px;
  font-weight: 700;
  color: var(--light-shade);
  transition: 0.3s;
}

.WButton {
  border: solid 3px var(--main-color);
  border-radius: 10px;
  padding: 1em;
  margin: 1em 2px;
  font-weight: 700;
  color: var(--dark-shade);
  transition: 0.5s;
}

.WButton:hover{
  color: var(--light-shade);
  border: solid 3px var(--light-accent);
  background-color: var(--dark-shade);
}

.Modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.ModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-shade);
  margin: 10% auto;
  border: 10px solid var(--light-accent);
  border-radius: 10px;
  width: 80%;
  height: 80%
}

.TextContent {
  padding: 2% 10%;
}

.TextContent>p,h1{
  margin: 2%
}

.Scrollable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 10em;
  overflow: scroll;
}

.Scrollable > p {
  margin: 0px;
}